- nav_add 'Ejercicios', exercises_path
- nav_add @exercise.readable_id, '#'
= nav_render

= render partial: "/exercises/display", locals: {exercise: @exercise}

= link_to "Elegir", pick_exercise_path(@exercise), method: :post, class: "btn btn-primary"
